

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/allproducts">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/addproduct">Addproduct</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    categories                </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/categories">all categories</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex ms-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <% if(!curruser) {%>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/signup">signup</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">login</a>
                      </li>
                    <% } %>
                    <% if(curruser) {%>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">logout</a>
                      </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>

   
</body>



